@model IEnumerable<AESManagement.AESDataService.Applicant>
<div class="btn-group">
    @Html.ActionLink("New", "UpdatePending", "Pending", new { status = "new" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Approved", "UpdatePending", "Pending", new { status = "approved" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Denied", "UpdatePending", "Pending", new { status = "denied" }, new { @class = "btn btn-default" })
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><span class="glyphicon glyphicon-user"></span></td>
                    <td>@Html.ActionLink(item.fullName, "Applicant", "Application", new { id = item.id }, null)</td>
                    <td>@Session["_Status"]</td>
                </tr>
            }
    </tbody>
</table>
    

