
@{
    ViewBag.Title = "Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel panel-heading">Pending Applicants</div>
            <div class="panel panel-body">
                <div class="btn-group">
                    @Html.ActionLink("New", "UpdatePending", "Pending", new { status = "new" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Approved", "UpdatePending", "Pending", new { status = "approved" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Denied", "UpdatePending", "Pending", new { status = "denied" }, new { @class = "btn btn-default" })
                </div>
                <p id="pending">
                    @Html.Action("UpdatePending", "Pending")
                </p>
            </div>
        </div>
   </div>
        <div class="col-md-9">
            @Html.Partial("~/Views/Application/Application.cshtml")
        </div>
    
</div>
