@model IEnumerable<AESManagement.AESDataService.Store>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Store #
        </th>
        <th>
            Store Name
        </th>
        <th>
            Street Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zipcode
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.storeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.storeId })
        </td>
    </tr>
}

</table>
